#add1{
    width: 350px;
}
#add2{
    width: 350px;
}

#sub1{
    width: 350px;
}
#sub2{
    width: 350px;
}

#multiply1{
    width: 350px;
}
#multiply2{
    width: 350px;
}

#divide1{
    width: 350px;
}
#divide2{
    width: 350px;
}

#remainder1{
    width: 350px;
}
#remainder2{
    width: 350px;
}